/* стилевое свойство font-family позволяет задать семейство шрифта */
body {
	font-family: Arial, Helvetica, sans-serif;
}
/* границы ячеек таблицы */
table.data td {
    border: #000 1px solid; 
}
/* стилевое свойство border-collapse позволяет задать "слипание" 
   границ ячеек таблицы */
table.data {
	border-collapse: collapse;
}
/* примените размер шрифта 200% ко всем заголовкам <h1> в документе */
h1 {
    font-size: 200%;
}
/* выровняйте по правому краю элемент <div> с классом right-aligned */
div.right-aligned{
    text-align: right;
}
/* выделите курсивом элементы <span> с классом attribute внутри элементов <p> */
p span.attribute {
    font-style: italic;
}

/* добавьте фон с цветом #ccc всем ячейкам в заголовке (тэг <th>) таблицы с классом data */
table.data th{
    background-color: #ccc;
}
/* добавьте таблицам в документе верхнее и нижнее поле размером 15 пикселей */
table {
    margin: 15px, 0px;
}

/* добавьте всем ячейкам таблицы, в том числе в заголовке, внутренний отступ от всех 
   четырех границ размером 5 пикселей */
table td {
    padding: 5px;
}
