body {
	font-family: Arial, Helvetica, sans-serif;
}

#month, #monthGrid {
	width: 300px;
}

/*  для элемента #prevMonth задайте позиционирование в 0 пикселей
    от левой границы элемента #month, для элемента #nextMonth - 
    в 0 пикселей от правой границы элемента #month, для обоих
    элементов - 0 пикселей от верхней границы элемента #month;
    используйте свойства position, left и right */

#prevMonth {
	
}

#nextMonth {
	
}

#month {
	font-weight: bold;
}

#currentMonth {
    text-align: center;
    margin-right: 10px;
}

/* 
    используя свойство float, сделайте, чтобы элементы #addEditBooking и 
    #monthGridTable отображались один слева от другого
*/


#addEditBooking {
	width: 500px;
}

#monthGridTable {
	width: 100%;
}
#monthGridTable th, #monthGridTable td {
	padding: 2px;
	text-align: right;
	border: #fff 1px solid;
}
#monthGridTable td:hover {
	border: #ccc 1px solid;
}
#monthGridTable td.inactive {
	color: #ccc;
}
#monthGridTable td.inactive {
    background-color: #fdb;
}

#bookingInfoField {
	width: 400px;
	height: 200px;
}